body{
    font-family: Verdana ;
    color: white;
}*{
    margin: 0;
    padding: 0;
}
header, footer {
    position: absolute;
    background-color:rgb(0, 0, 0);
    width: 100%;
}
header{
    height: 10vh;
}
footer{
    height: 10vh;
    bottom: 0;
}
footer h2{
    position: absolute;
    left: 45%;
}
header h2{
    position: absolute;
    margin-top: 16px;
    left: 20%;
    color: orange;
}
.nav{
    position: absolute;
    width: 100%;
}
.nav a{
    position: relative;
    left: 40%;
    top: 20px;
    color: white;
    margin-right: 20px;
}
footer p{
    position: absolute;
    bottom: 16px;
    left: 45%;
    color: orange;
}
button{
    position: absolute;
    margin-top: 16px;
    left: 60%;
    color: orange;
}